body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.el-header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: beige;
  // position: fixed;
}

.el-main {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: lavenderblush;
}

.el-aside {
  margin: 0;
  padding: 0;
  background: #DEE1E1;
  line-height: 600px;
}

.el-footer {
  margin: 0;
  padding: 0;
  background: #DEE9E1;
}


